h1,h2{
    font-family: gilbald;
}

p{
    font-family: gil;
    text-align: justify;
}
/* 
div{
    margin: 20px 20px;
    border: rgb(223, 223, 223) 1px solid;
    width: 100;
    border-radius: 10px;
    padding: 16px;

    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  
}  */


.kontainer{
    margin: 20px 20px;
    border: rgb(223, 223, 223) 1px solid;
    width: 100;
    border-radius: 10px;
    padding: 16px;
    /* background-color: #f0f0f0; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* filter: drop-shadow(0 0 0 #000000); */
}

#paragraf_title{
    color: white;
    text-align: center;
}

#judul{
    color: white;
    font-family: tamvan;
}


body{
      background-color: #111111;
      font-family: gilroy;  
}


.exit:hover{
    font-style: italic;
}

#paragraf_1{
    margin: 10px;
}

*{
    box-sizing: border-box;
}



@font-face {
    font-family: tamvan;
    src: url(../font/Hanson-Bold.ttf);
    
}

@font-face {
    font-family: gilbald;
    src: url(../font/Gilroy-ExtraBold.otf);
    
}



@font-face {
    font-family: gil;
    src: url(../font/Gilroy-Light.otf);
    
}

.belajar-image img{
	/* display: ; */
	width: 30%;
}



.float .container{
    border: 1px black solid;
    background-color: none;
    background-image: none;
    border-radius: 0px ;

}
.float .container img{
    width: 100px;
    margin: 10px;
    float: right;
}
.float .kotak-kotak{
    background-color: none;
    background-image: none;
    border: 1px black solid;
    border-radius: 0px;
    overflow: auto;
}

.float .kotak{
    width: 80px;
    height: 80px;
    background-color: red;
    background-image: none;
    padding :0px;
    text-align: center;
    line-height: 80px; /* jika ingin content berada di tengah kotak value dari  line height harus sama dengan value dari properti height  */
    float: left;
    border-radius: 0px;
}

.boks{
    border: 1px red solid;
    
}