h1,h2{
    font-family: gilbald;
}

p{
    font-family: gil;
    text-align: justify;
}

div{
    margin: 20px 20px;
    border: rgb(223, 223, 223) 1px solid;
    width: 100;
    border-radius: 10px;
    padding: 16px;
    /* background-color: #f0f0f0; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /* filter: drop-shadow(0 0 0 #000000); */
}

#paragraf_title{
    color: white;
    text-align: center;
}

#judul{
    color: white;
    font-family: tamvan;
}


body{
      background-color: #111111;
      font-family: gilroy;  
}


.exit:hover{
    font-style: italic;
}

#paragraf_1{
    margin: 10px;
}

*{
    box-sizing: border-box;
}


@font-face {
    font-family: tamvan;
    src: url(../font/Hanson-Bold.ttf);
    
}

@font-face {
    font-family: gilbald;
    src: url(../font/Gilroy-ExtraBold.otf);
    
}



@font-face {
    font-family: gil;
    src: url(../font/Gilroy-Light.otf);
    
}

.belajar-image img{
	/* display: ; */
	width: 30%;
}



