*{
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red;  */
}

ul{
    padding-inline-start: 0px;
}
.navbar div{
    border: 1px solid red; 
    
}
.navbar{
    background-color: #000000aa ;
    border: 1px solid rgb(24, 232, 255);
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    position: fixed;
    top: 0px;
    height: 59px;
    right: 0px;
    left: 0px;
    padding: 10px;
}

.navbar img{
    width: 40px;
}
.navbar *{
    display: inline-block;
}
.navbar h3{
    color: white;
    font-size: 90%;
    position: relative;
    bottom: 15px;
    left: 10px;
}

.navbar .kembali{
    font-weight: 1;
    text-decoration: underline;
    font-style: italic;
    float: right;
    margin-top: 25px;
    margin-right: 15px;
}
.navbar a{
    color: inherit;
}
.container{
    width: 960px;
    margin: 0px auto;
    border: 0.5px black solid;
    margin-top: 60px;
}

 
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    padding: 10px;
    /* background-color: beige; */
}
.header li{
    display: inline-block;
    padding: 10px;
}

.header li a{
    color: salmon;
    text-decoration: none;
}

.header li:hover ,.header a:hover{
    background-color: black;
    color: white;
}

.heroimage .kaset{
    width: 100%;
    padding: 10px 10px;
    padding-bottom:0px;
}
.heroimage img{
    width: 100%;
}
.main{
    width: 600px;
    float: left;
    padding: 10px;

}
.main .title{
    width: 194px;
}
.main .title .editor{
    margin-bottom: 5px;
    font-size: 12px;
    font-style: italic;
}
.main .title a{
    color: salmoN;
    text-decoration: none;
}


.content{
    line-height: 20px;
    font-size: 13px;
    margin: 10px 0px;
    text-align: justify;
}

.sidebar{

    padding: 10px;
    width: 350px;
    float: right;
}
.sidebar h3{
    text-align: center;
    margin-bottom: 10px;
}
.sidebar p{
    line-height: normal;
}
.sidebar img{
    width: 120px;
    margin: 0px auto;
    margin-bottom: 10px;

    display: block;
}

.sidebar .biodata li{
    padding: 10px 0px;
    font-size: 10px;
}

.clear{
    clear: both;
}

.footer{
    background-color: black;
}

.footer p{
    
    padding: 10px;
    font-size: 13px;
    color:  white;
    text-align: center;
}


@media screen and (max-width : 400px) {
    .container{
        width: 100%;
    }

    .main{
        width: 100%;
        float: none;
    }
    .sidebar{
        width: 100%;
        float: none ;
    }
}